{% extends "base.html" %}

{% block head %}
  <title>{{name}} | Comedians Through The Decades </title>
{% endblock %}

<!-- Project Information -->
{% block title %}
  <h1>Comedians Through The Decades</h1>
{% endblock %}

{% block link1 %}
  <a href="https://docs.google.com/document/d/1T3cajl0kOPPRUfHDqBrKtmC6Ria0kW8E0_gJo3ur6vc/edit" class="btn">Project Plan</a>
{% endblock %}
{% block link2 %}
  <a href="https://repl.it/@IniyaaMohanraj/Python-Web-Portfolio-Series-1#templates/flask.html">Repl</a>
{% endblock %}
{% block link3 %}
  <a href="https://drive.google.com/drive/u/0/folders/132u6U1aJJhtQao26CPiNffawNvscUn_J">Resources</a>
{% endblock %}