{% extends "base.html" %}

{% block head %}
  <title>{{name}} | History of Comedy </title>
{% endblock %}

<!-- Project Information  -->
{% block title %}
  <h1>The History of Comedy</h1>
{% endblock %}

{% block link1 %}
  <a href="https://docs.google.com/document/d/1VelBBpneDJVcsaPZCT5Qb72xthwv9PCPSnQTGb2yWMA/edit" class="btn">Project Plan</a>
{% endblock %}
{% block link2 %}
  <a href="https://repl.it/@Ryanshay18/ResponsibleFastDesignmethod?#README.md" class="btn">Repl</a>
{% endblock %}
{% block link3 %}
  <a href="https://docs.google.com/document/d/1Oe6u6SvYPV3xxBeHcY3fxRQVrFZ_Wtz-9sMFICQNpeY/edit" class="btn">KIA Study Journal</a>
{% endblock %}